<app-base-dialog
  i18n-stepLabel="@@company_dialog_step_label"
  stepLabel="EVU"
  [data]="dialogData"
  [dialogClose]="companyModel()"
  [dialogTitle]="dialogTitle"
  [saveDisabled]="companyForm().invalid()"
>
  <form>
    <sbb-form-field class="full-width" errorSpace="reserve">
      <label for="code" i18n="@@company_form_code_label">Code</label>
      <input [formField]="companyForm.code" />
      @if (companyForm.code().touched()) {
        @for (error of companyForm.code().errors(); track error.kind) {
          <sbb-error>{{ error.message }}</sbb-error>
        }
      }
    </sbb-form-field>
    <sbb-form-field class="full-width" errorSpace="reserve">
      <label for="shortName" i18n="@@company_form_short_name_label">Kurzname (NeTS)</label>
      <input [formField]="companyForm.shortName" />
      @if (companyForm.shortName().touched()) {
        @for (error of companyForm.shortName().errors(); track error.kind) {
          <sbb-error>{{ error.message }}</sbb-error>
        }
      }
    </sbb-form-field>
    <sbb-form-field class="full-width" errorSpace="reserve">
      <label for="tenantId" i18n="@@company_form_tenant_id_label">Tenant Id</label>
      <sbb-select [formField]="companyForm.tenantId">
        @for (tenant of tenants(); track tenant.tenantId) {
          <sbb-option [value]="tenant.tenantId">{{
            `${tenant.tenantId} - ${tenant.name}`
          }}</sbb-option>
        }
      </sbb-select>
      @if (companyForm.tenantId().touched()) {
        @for (error of companyForm.tenantId().errors(); track error.kind) {
          <sbb-error>{{ error.message }}</sbb-error>
        }
      }
    </sbb-form-field>
  </form>
</app-base-dialog>
