@use '@sbb-esta/angular' as sbb;

.checkbox {
  width: 100%;
  margin-bottom: sbb.pxToRem(16);
}

.disconnect {
  margin-bottom: sbb.pxToRem(16);
}

.messages {
  .title {
    display: flex;

    div {
      width: 50%;
    }
  }

  .message {
    display: flex;

    &.left {
      width: 50%
    }

    &.right {
      margin-left: auto;
      width: 50%
    }
  }
}
