.checkbox {
  width: 100%;
  margin-bottom: 16px;
}

.disconnect {
  margin-bottom: 16px;
}

.messages {
  .title {
    display: flex;

    div {
      width: 50%;
    }
  }

  .message {
    display: flex;

    &.left {
      width: 50%
    }

    &.right {
      margin-left: auto;
      width: 50%
    }
  }
}

.sbb-form-field-long {
  width: 100%;
}
