<sbb-dialog-title>{{ title }}</sbb-dialog-title>
<sbb-dialog-close-button></sbb-dialog-close-button>
<sbb-dialog-content>
  <form [formGroup]="specialHolidayForm">
    <sbb-form-field errorSpace="reserve">
      <label i18n="@@special_holidays_form_name_label">Name des Feiertags</label>
      <input formControlName="name" placeholder="z.B. Güdeismontag" required/>
      @if (specialHolidayForm.get('name')?.touched && specialHolidayForm.get('name')?.hasError('required')) {
        <sbb-error i18n="@@special_holidays_form_field_error_required">Feld darf nicht leer sein
        </sbb-error>
      }
    </sbb-form-field>

    <sbb-form-field errorSpace="reserve">
      <label i18n="@@special_holidays_form_date_label">Gültig am</label>
      <sbb-datepicker-previous-day></sbb-datepicker-previous-day>
      <sbb-date-input formControlName="date" required></sbb-date-input>
      <sbb-datepicker-toggle></sbb-datepicker-toggle>
      <sbb-datepicker-next-day></sbb-datepicker-next-day>
      <sbb-datepicker></sbb-datepicker>
      @if (specialHolidayForm.get('date')?.touched && specialHolidayForm.get('date')?.hasError('required')) {
        <sbb-error i18n="@@special_holidays_form_field_error_required">Feld darf nicht leer sein
        </sbb-error>
      }
    </sbb-form-field>

    <div class="radio-button-group">
      <label for="scheduleType" i18n="@@special_holidays_form_schedule_type_label">Gilt als</label>
      <sbb-radio-button-group formControlName="scheduleType">
        @for (type of scheduleTypes; track type.value) {
          <sbb-radio-button [value]="type.value">{{ type.label }}</sbb-radio-button>
        }
      </sbb-radio-button-group>
      @if (specialHolidayForm.get('scheduleType')?.touched && specialHolidayForm.get('scheduleType')?.hasError('required')) {
        <sbb-error i18n="@@special_holidays_form_field_error_required">Feld darf nicht leer sein
        </sbb-error>
      }
    </div>

    <app-companies-input [control]="specialHolidayForm.controls.companies"></app-companies-input>
  </form>
</sbb-dialog-content>
<sbb-dialog-actions alignGroup="stretch" orientation="vertical">
  <sbb-secondary-button i18n="@@dialog_action_cancel" sbb-dialog-close>Abbrechen
  </sbb-secondary-button>
  <sbb-action-group alignGroup="stretch" orientation="vertical">
    @if (isEdit) {
      <sbb-transparent-button i18n="@@dialog_action_delete" iconName="trash-small"
                              sbb-dialog-close="delete">Eintrag löschen
      </sbb-transparent-button>
    }
    <sbb-button [disabled]="specialHolidayForm.invalid || specialHolidayForm.pristine"
                [sbb-dialog-close]="formValue"
                i18n="@@dialog_action_save">Speichern
    </sbb-button>
  </sbb-action-group>
</sbb-dialog-actions>

