target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
sfera_mock/src/main/java/generated/**
sfera_mock/src/main/java/META-INF/JAXB/**
sfera_mock/src/main/java/org/w3/_2001/xmlschema/**
/das_backend/src/main/resources/api/**
*.p12
*.env
sfera_mock/src/main/resources/localregulations.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
**/.idea/*
!**/.idea/scopes
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Documentation ###
/docs/hugo-config/public/
**/.DS_STORE
