target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
sfera-mock/src/main/java/generated/**
sfera-mock/src/main/java/META-INF/JAXB/**
sfera-mock/src/main/java/org/w3/_2001/xmlschema/**
*.p12

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Documentation ###
/docs/hugo-config/public/

