<sbb-table-wrapper>
  <table [dataSource]="dataSource" sbb-table>
    <ng-container sbbColumnDef="direction">
      <th *sbbHeaderCellDef sbb-header-cell>Direction</th>
      <td *sbbCellDef="let element" sbb-cell>{{ element.direction }}</td>
    </ng-container>

    <ng-container sbbColumnDef="topic">
      <th *sbbHeaderCellDef sbb-header-cell>Topic</th>
      <td *sbbCellDef="let element" sbb-cell>{{ element.topic }}</td>
    </ng-container>

    <ng-container sbbColumnDef="type">
      <th *sbbHeaderCellDef sbb-header-cell>Type</th>
      <td *sbbCellDef="let element" sbb-cell>{{ element.type }}</td>
    </ng-container>

    <ng-container sbbColumnDef="info">
      <th *sbbHeaderCellDef sbb-header-cell>Info</th>
      <td *sbbCellDef="let element" sbb-cell>{{ element.info }}</td>
    </ng-container>

    <ng-container sbbColumnDef="message">
      <th *sbbHeaderCellDef sbb-header-cell>Xml-Message</th>
      <td *sbbCellDef="let element" sbb-cell>
        <app-simple-xml [collapsed]="true" [xmlString]="element.message"></app-simple-xml>
      </td>
    </ng-container>
    <ng-container sbbColumnDef="size">
      <th *sbbHeaderCellDef sbb-header-cell>Size</th>
      <td *sbbCellDef="let element" sbb-cell>
        {{ element.size | fileSize }}
      </td>
    </ng-container>
    <tr *sbbHeaderRowDef="displayedColumns" sbb-header-row></tr>
    <tr *sbbRowDef="let row; columns: displayedColumns" sbb-row></tr>
  </table>
</sbb-table-wrapper>
