<app-base-dialog
  i18n-stepLabel="@@external_links_dialog_step_label"
  stepLabel="Externer Absprung"
  [data]="dialogData"
  [dialogClose]="externalLinkModel()"
  [dialogTitle]="dialogTitle"
  [saveDisabled]="externalLinkForm().invalid()"
>
  <form>
    <app-companies-input
      i18n-label="@@external_links_form_companies_label"
      label="Betroffene EVU"
      multiselect
      [field]="externalLinkForm.companies"
    />
    <sbb-tab-group>
      @for (language of languageProvider.allLanguages; track language.localeId) {
        <sbb-tab-label [iconName]="isLanguageEmpty(language.path) ? 'circle-dotted-small' : ''">{{
          language.path | uppercase
        }}</sbb-tab-label>
        <sbb-tab>
          <sbb-form-field class="full-width" errorSpace="reserve">
            <label for="title" i18n="@@external_links_form_title_label">Titel</label>
            <input [formField]="externalLinkForm[language.path].title" />
            @if (externalLinkForm[language.path].title().touched()) {
              @for (error of externalLinkForm[language.path].title().errors(); track error.kind) {
                <sbb-error>{{ error.message }}</sbb-error>
              }
            }
          </sbb-form-field>
          <sbb-form-field class="full-width" errorSpace="reserve">
            <label for="link" i18n="@@external_links_form_link_label">Webadresse (URL)</label>
            <input [formField]="externalLinkForm[language.path].link" />
            @if (externalLinkForm[language.path].link().touched()) {
              @for (error of externalLinkForm[language.path].link().errors(); track error.kind) {
                <sbb-error>{{ error.message }}</sbb-error>
              }
            }
          </sbb-form-field>
        </sbb-tab>
      }
    </sbb-tab-group>
  </form>
  @if (externalLinkForm().touched()) {
    @for (error of externalLinkForm().errors(); track error.kind) {
      <sbb-error>{{ error.message }}</sbb-error>
    }
  }
</app-base-dialog>
