<sbb-dialog-title>{{ dialogTitle }}</sbb-dialog-title>
<sbb-dialog-close-button></sbb-dialog-close-button>
<sbb-dialog-content>
  <form [formGroup]="externalLinkForm">
    <app-companies-input
      i18n-label="@@external_links_form_companies_label"
      label="Betroffene EVU"
      [control]="externalLinkForm.controls.companies"
    ></app-companies-input>
    <sbb-tab-group>
      @for (language of languageProvider.allLanguages; track language.localeId) {
        <sbb-tab-label [iconName]="isLanguageEmpty(language.path) ? 'circle-dotted-small' : ''">{{
          language.path | uppercase
        }}</sbb-tab-label>
        <sbb-tab [formGroupName]="language.path">
          <sbb-form-field errorSpace="reserve">
            <label i18n="@@external_links_form_title_label">Titel</label>
            <input formControlName="title" />
            @let titleField = externalLinkForm.get(`${language.path}.title`);
            @if (externalLinkForm.touched && titleField?.hasError('languageRequired')) {
              <sbb-error i18n="@@external_links_form_field_error_required"
                >Feld darf nicht leer sein</sbb-error
              >
            }
          </sbb-form-field>
          <sbb-form-field errorSpace="reserve">
            <label i18n="@@external_links_form_link_label">Webadresse (URL)</label>
            <input formControlName="link" />
            @let linkField = externalLinkForm.get(`${language.path}.link`);
            @if (externalLinkForm.touched && linkField?.hasError('languageRequired')) {
              <sbb-error i18n="@@external_links_form_field_error_required"
                >Feld darf nicht leer sein</sbb-error
              >
            }
            @if (externalLinkForm.touched && linkField?.hasError('url')) {
              <sbb-error i18n="@@external_links_form_field_error_url"
                >Webadresse muss eine gültige URL sein</sbb-error
              >
            }
          </sbb-form-field>
        </sbb-tab>
      }
    </sbb-tab-group>
  </form>
  @if (externalLinkForm.touched && externalLinkForm.hasError('oneLanguageRequired')) {
    <sbb-error i18n="@@external_links_form_error_one_language_required"
      >Eine Sprache muss ausgefüllt sein</sbb-error
    >
  }
</sbb-dialog-content>
<sbb-dialog-actions alignGroup="stretch" orientation="vertical">
  <sbb-secondary-button i18n="@@dialog_action_cancel" sbb-dialog-close
    >Abbrechen
  </sbb-secondary-button>
  <sbb-action-group alignGroup="stretch" orientation="vertical">
    @if (isEdit) {
      <sbb-transparent-button
        i18n="@@dialog_action_delete"
        iconName="trash-small"
        sbb-dialog-close="delete"
        >Eintrag löschen
      </sbb-transparent-button>
    }
    <sbb-button
      [disabled]="externalLinkForm.invalid || externalLinkForm.pristine"
      [sbb-dialog-close]="externalLinkForm.getRawValue()"
      i18n="@@dialog_action_save"
      >Speichern
    </sbb-button>
  </sbb-action-group>
</sbb-dialog-actions>
