<sbb-dialog-title>{{ dialogTitle() }}</sbb-dialog-title>
<sbb-dialog-close-button />
<sbb-dialog-content>
	@if (isEdit()) {
		<sbb-stepper linear (stepchange)="stepchange.set($event)">
			<sbb-step-label>{{ stepLabel() }}</sbb-step-label>
			<sbb-step>
				<ng-container *ngTemplateOutlet="content" />
			</sbb-step>
			<sbb-step-label disabled i18n="@@dialog_step_label_audit">Stammdaten</sbb-step-label>
			<sbb-step>
				<app-audit [data]="data()" />
			</sbb-step>
		</sbb-stepper>
	} @else {
		<ng-container *ngTemplateOutlet="content" />
	}
</sbb-dialog-content>

<ng-template #content>
	<ng-content />
</ng-template>

<sbb-dialog-actions alignGroup="stretch" orientation="vertical">
	<sbb-secondary-button i18n="@@dialog_button_cancel" sbb-dialog-close
		>Abbrechen</sbb-secondary-button
	>
	<sbb-action-group alignGroup="stretch" orientation="vertical">
		@if (isEdit()) {
			<sbb-transparent-button
				i18n="@@dialog_button_delete"
				iconName="trash-small"
				sbb-dialog-close="delete"
				>Eintrag löschen</sbb-transparent-button
			>
		}
		@if (!isLastStep()) {
			<sbb-button i18n="@@dialog_button_next" [disabled]="isStepDisabled()" (click)="next()"
				>Weiter</sbb-button
			>
		} @else {
			<sbb-button
				i18n="@@dialog_button_save"
				[disabled]="saveDisabled()"
				[sbb-dialog-close]="dialogClose()"
				>Speichern</sbb-button
			>
		}
	</sbb-action-group>
</sbb-dialog-actions>
