<sbb-header-lean [label]="title" [subtitle]="'Version ' + version" collapseBreakpoint="mobile">
  <sbb-header-environment>{{ environmentLabel }}</sbb-header-environment>
  <sbb-usermenu
    (loginRequest)="login()"
    [displayName]="userData().userData.name"
    [menu]="menu"
    [userName]="userData().userData?.preferred_username"
  >
    <sbb-icon *sbbIcon svgIcon="kom:user-small"></sbb-icon>
  </sbb-usermenu>
  <sbb-menu #menu="sbbMenu">
    <button (click)="logout()" sbb-menu-item>
      <sbb-icon class="sbb-icon-fit" svgIcon="kom:exit-small"></sbb-icon>
      <span i18n>Logout</span>
    </button>
  </sbb-menu>
  <svg brand style="width: 0"><!-- Optional --></svg>
</sbb-header-lean>
@if (userData().userData) {
  <sbb-icon-sidebar-container class="sbb-icon-sidebar-after-header">
    <sbb-icon-sidebar expanded>
      <a
        [routerLinkActiveOptions]="{
          paths: 'exact',
          fragment: 'ignored',
          queryParams: 'ignored',
          matrixParams: 'ignored',
        }"
        i18n-label
        label="SFERA"
        routerLink="/sfera"
        routerLinkActive="sbb-active"
        sbbIconSidebarItem
      >
        <sbb-icon svgIcon="kom:railway-switch-small"></sbb-icon>
      </a>
      <a
        [routerLinkActiveOptions]="{
          paths: 'exact',
          fragment: 'ignored',
          queryParams: 'ignored',
          matrixParams: 'ignored',
        }"
        i18n-label
        label="SFERA discover"
        routerLink="/sfera-discover"
        routerLinkActive="sbb-active"
        sbbIconSidebarItem
      >
        <sbb-icon svgIcon="kom:lighthouse-small"></sbb-icon>
      </a>
      <a
        i18n-label
        label="MQTT"
        routerLink="/mqtt"
        routerLinkActive="sbb-active"
        sbbIconSidebarItem
      >
        <sbb-icon svgIcon="kom:arrows-up-down-small"></sbb-icon>
      </a>
      <a
        i18n-label
        label="Auth insights"
        routerLink="/auth-insights"
        routerLinkActive="sbb-active"
        sbbIconSidebarItem
      >
        <sbb-icon svgIcon="kom:user-key-small"></sbb-icon>
      </a>
    </sbb-icon-sidebar>
    <sbb-icon-sidebar-content class="app-main-content" role="main">
      <router-outlet></router-outlet>
    </sbb-icon-sidebar-content>
  </sbb-icon-sidebar-container>
} @else {
  <div class="after-header app-main-content">
    <router-outlet></router-outlet>
  </div>
}
