.search-language-header {
  display: flex;
  gap: var(--sbb-spacing-fixed-8x);
  padding-bottom: var(--sbb-spacing-fixed-8x);

  sbb-form-field:first-child {
    flex: 6;
  }

  sbb-form-field:last-child {
    flex: 1;
  }
}
