<div class="search-language-header">
  <sbb-form-field>
    <input [formControl]="searchControl()" [placeholder]="searchPlaceholder()" type="text" />
    <sbb-icon name="magnifying-glass-small" slot="suffix"></sbb-icon>
  </sbb-form-field>
  @if (languageControl()) {
    <sbb-form-field>
      <sbb-icon name="globe-small" slot="prefix"></sbb-icon>
      <label i18n="@@form_field_language_label">Sprache</label>
      <sbb-select [formControl]="languageControl()!">
        @for (language of languageProvider.allLanguages; track language.localeId) {
          <sbb-option [value]="language.path">{{ language.label }}</sbb-option>
        }
      </sbb-select>
    </sbb-form-field>
  }
</div>
