<sbb-form-field errorSpace="reserve" class="full-width">
  <label for="locations">{{ label() }}</label>
  <sbb-chip-group
    name="locations"
    [displayWith]="locationToName"
    [formField]="field()"
    [separatorKeys]="[]"
  >
    <input [formField]="inputField" [sbbAutocomplete]="auto" />
  </sbb-chip-group>
  <sbb-autocomplete #auto="sbbAutocomplete">
    @for (loc of filteredLocations(); track loc.locationReference) {
      <sbb-option [class.future]="loc.validFrom" [value]="loc.locationReference">
        @if (loc.validFrom) {
          ab: {{ loc.validFrom | date: 'shortDate' }}
          <span>&nbsp;&nbsp;</span>
        }
        {{ loc.locationReference }}
        <span>&nbsp;&nbsp;</span>
        {{ loc.primaryLocationName }}
        @if (loc.locationAbbreviation) {
          <span>&nbsp;&nbsp;</span>
          {{ loc.locationAbbreviation }}
        }
      </sbb-option>
    }
  </sbb-autocomplete>
  @if (field()().touched()) {
    @for (error of field()().errors(); track error.kind) {
      <sbb-error>{{ error.message }}</sbb-error>
    }
  }
</sbb-form-field>
