@use '@sbb-esta/angular' as sbb;

.checkbox {
  width: 100%;
  margin-bottom: sbb.pxToRem(16);
}

.disconnect {
  margin-bottom: sbb.pxToRem(16);
}

.ml-3 {
  margin-left: sbb.pxToRem(3);
}

.triggers {
  margin-bottom: sbb.pxToRem(16);
}

.glow-on-hover {
  position: relative !important;
  padding: 5px 15px 6px 15px;
  background-color: var(--sbb-primary-alternative-button-background-color-default);
  border: var(--sbb-border-width-thin) solid rgba(0, 0, 0, 0);
  color: var(--sbb-primary-button-color);
  border-radius: var(--sbb-border-radius);
  cursor: pointer;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
