<h2>SFERA Communication</h2>
@if ((mqService.state | async) !== MqttConnectionState.CONNECTED) {
  <sbb-form-field class="sbb-form-field-long">
    <sbb-label>Company Code</sbb-label>
    <input type="text" sbbInput [formControl]="companyControl"/>
  </sbb-form-field>
  <sbb-form-field class="sbb-form-field-long">
    <sbb-label>Train Identification</sbb-label>
    <input type="text" sbbInput [formControl]="trainControl"/>
  </sbb-form-field>
  <sbb-form-field class="sbb-form-field-long">
    <sbb-label>Operation date</sbb-label>
    <input type="text" sbbInput [formControl]="dateControl"/>
  </sbb-form-field>
  <sbb-form-field class="sbb-form-field-long">
    <sbb-label>Client ID</sbb-label>
    <input type="text" sbbInput [formControl]="clientIdControl"/>
  </sbb-form-field>
  <sbb-checkbox class="checkbox" [formControl]="environmentControl">Use a custom topic prefix
  </sbb-checkbox>
  @if (environmentControl.value) {
    <sbb-form-field class="sbb-form-field-long">
      <sbb-label>Custom topic prefix</sbb-label>
      <input type="text" sbbInput [formControl]="customPrefixControl"/>
    </sbb-form-field>
  }
  <button type="button" sbb-button (click)="observe()">Observe</button>
} @else {
  <button type="button" class="disconnect" sbb-button (click)="disconnect()">Disconnect</button>
  <button type="button" class="ml-3" sbb-button (click)="sendHandshakeRequest()">Send handshake
    request
  </button>
  <button type="button" class="ml-3" sbb-button (click)="sendJPRequest()">Send JP request</button>
  <button type="button" class="ml-3" sbb-button (click)="sendSPRequest()">Send SP request</button>
  <button type="button" class="ml-3" sbb-button (click)="sendTCRequest()">Send TC request</button>
  <button type="button" class="ml-3" sbb-button (click)="sendSessionTermination()">Send Session
    termination
  </button>

  <div class="info">
    @if (environmentControl.value) {
      <p>Prefix: {{ customPrefixControl.value }}</p>
    }
    <p>Company: {{ this.companyControl.value }}</p>
    <p>Train operation: {{ this.trainControl.value + '_' + this.dateControl.value }}</p>
    <p>Client ID: {{ this.clientIdControl.value }}</p>
  </div>

  @if (trainControl.value.endsWith('M')) {
    <div class="triggers">
      <h2>Manual Triggers</h2>
      <button class="glow-on-hover" (click)="nextLocation()">Nächste Fortschaltung</button>
      |
      <button class="glow-on-hover" (click)="sendG2BEvent({warn: true})">Warnfunktion ⚠️</button>
      |
      <button class="glow-on-hover" (click)="sendG2BEvent({koa: 'wait'})">KOA Warten︎ 🛑</button>
      <button class="glow-on-hover ml-3" (click)="sendG2BEvent({koa: 'waitCancelled'})">KOA Warten aufgehoben ✅</button>
      <button class="glow-on-hover ml-3" (click)="sendG2BEvent({koa: 'waitHide'})">KOA Warten︎ ausblenden</button>
      @if (operationalDay) {
        |
        <button class="glow-on-hover" (click)="initialFormation()">Bremszettel 🧾</button>
        <button class="glow-on-hover ml-3" (click)="updatedFormation()">Update Bremszettel 🔄</button>
      }
    </div>
  }

  <sbb-expansion-panel>
    <sbb-expansion-panel-header> Send custom XML message to B2G-Topic</sbb-expansion-panel-header>
    <sbb-form-field class="sbb-form-field-long">
      <sbb-label>XML String</sbb-label>
      <textarea sbbInput [formControl]="xmlStringControl" class="xmlString"></textarea>
    </sbb-form-field>
    <button type="button" sbb-button (click)="sendXml()">Send</button>
  </sbb-expansion-panel>

  <sbb-expansion-panel>
    <sbb-expansion-panel-header> Send predefined (wrong) XML messages to B2G-Topic
    </sbb-expansion-panel-header>
    <button type="button" sbb-button (click)="sendHSRWrongSferaVersion()">HS-Req wrong version
    </button>
    <button type="button" sbb-button class="ml-3" (click)="sendHSRWrongConnectivity()">HS-Req wrong
      connectivity
    </button>
    <button type="button" sbb-button class="ml-3" (click)="sendHSRWrongArchitecture()">HS-Req wrong
      architecture
    </button>
    <button type="button" sbb-button class="ml-3" (click)="sendHSRDriverWithoutReadonly()">HS-Req
      driver without readonly
    </button>
  </sbb-expansion-panel>

  <sbb-expansion-panel>
    <sbb-expansion-panel-header> Send predefined (special) XML messages to B2G-Topic
    </sbb-expansion-panel-header>
    <button type="button" sbb-button (click)="sendHSRDriverAndReadOnly()">HS-Req driver and
      readonly
    </button>
    <button type="button" sbb-button class="ml-3" (click)="sendJPRequestWithWrongTrainnumber()">
      JP-Req with wrong trainnumber
    </button>
    <button type="button" sbb-button class="ml-3" (click)="sendJPRequestWithWrongCompany()">JP-Req
      with wrong company
    </button>
  </sbb-expansion-panel>

  <app-message-table [dataSource]="dataSource"></app-message-table>
}
