th.action {
  width: 2rem;
}

td.action {
  sbb-mini-button {
    vertical-align: middle;
  }
}

.checkbox {
  width: 2rem;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block-start: var(--sbb-spacing-fixed-2x)
}
