.app-main-content {
  padding: 0 1em;
}

.after-header {
  position: absolute;
  top: var(--sbb-header-lean-height);
  left: 0;
  right: 0;
}


.header-item {
  padding-inline: 1.25rem;

  .left {
    margin-left: 4px;
  }
}
