<sbb-title i18n="@@external_links_title" level="2">Externe Absprünge</sbb-title>
@let externalLinksResource = externalLinksService.externalLinksResource;
@if (externalLinksResource.hasValue()) {
  @if (externalLinksResource.value().data.length === 0) {
    <p i18n="@@external_links_empty_state">Noch keine externen Absprünge erfasst.</p>
    <sbb-secondary-button
      i18n="@@button_create_entry"
      iconName="plus-small"
      (click)="externalLinksService.add()"
      >Neuen Eintrag erfassen</sbb-secondary-button
    >
  } @else {
    <app-external-links-table />
  }
} @else if (externalLinksResource.error()) {
  <p i18n="@@external_links_error_loading">Fehler beim Laden der externen Absprünge</p>
} @else if (externalLinksResource.isLoading()) {
  <sbb-loading-indicator-circle />
}
