<sbb-form-field errorSpace="reserve">
  <label for="companies" i18n="@@form_companies_label">{{ label() }}</label>
  @if (multiselect()) {
    <sbb-chip-group [displayWith]="codeToName" [formControl]="multiControl()" [separatorKeys]="[]" name="companies">
      <!-- stopPropagation because chip-group would get marked dirty otherwise -->
      <input
        [formControl]="inputControl"
        [sbbAutocomplete]="auto"
        (change)="$event.stopPropagation()"
      />
    </sbb-chip-group>
  } @else {
    <input
      [formControl]="singleControl()"
      [sbbAutocomplete]="auto"
      (input)="onSearchInput($event)"
    />
  }

  <sbb-autocomplete #auto="sbbAutocomplete" [displayWith]="multiselect() ? null : codeToName" [requireSelection]="!multiselect()">
    @for (company of filteredCompanies(); track company.code) {
      <sbb-option [value]="company.code">
        {{ company.shortName }}
      </sbb-option>
    }
  </sbb-autocomplete>
  @if (control().hasError('required') && control().touched) {
    <sbb-error i18n="@@form_field_error_required">Feld darf nicht leer sein</sbb-error>
  }
</sbb-form-field>
