<sbb-dialog-title>{{ title }}</sbb-dialog-title>
<sbb-dialog-close-button></sbb-dialog-close-button>
<sbb-dialog-content>
  <form [formGroup]="ruIndicationForm">
    <sbb-stepper (stepchange)="stepchange.set($event)" linear>
      <sbb-step-label i18n="@@ru_indications_step_content">Titel und Text</sbb-step-label>
      <sbb-step>
        <sbb-title i18n="@@ru_indications_form_train_numbers_title" visualLevel="5">Titel und Text
        </sbb-title>
        <app-category-content-form [dialogData]="dialogData"
                                   [form]="ruIndicationForm.controls.content"></app-category-content-form>
      </sbb-step>

      <sbb-step-label i18n="@@ru_indications_step_scope">Anwendungsbereich</sbb-step-label>
      <sbb-step formGroupName="scope">
        <sbb-title i18n="@@ru_indications_form_company_title" visualLevel="5">EVU</sbb-title>
        <app-companies-input
          [control]="ruIndicationForm.controls.scope.controls.companies"></app-companies-input>

        <sbb-title i18n="@@ru_indications_form_train_numbers_title" visualLevel="5">Zugnummer
        </sbb-title>
        <app-train-number-input
          [control]="ruIndicationForm.controls.scope.controls.operationalTrainNumberFilters"></app-train-number-input>

        <sbb-title i18n="@@ru_indications_form_location_title" visualLevel="5">Betriebspunkt
        </sbb-title>
        <app-locations-input
          [control]="ruIndicationForm.controls.scope.controls.tafTapLocationReferences"></app-locations-input>
      </sbb-step>

      <sbb-step-label i18n="@@ru_indications_step_periods">Zeitraum</sbb-step-label>
      <sbb-step>
        <sbb-title i18n="@@ru_indications_form_periods_title" visualLevel="5">Zeitraum der
          Gültigkeit
        </sbb-title>
        <app-periods-input [control]="ruIndicationForm.controls.periods"></app-periods-input>
      </sbb-step>
      @if (isEdit) {
        <sbb-step-label disabled i18n="@@ru_indications_step_history">Stammdaten</sbb-step-label>
        <sbb-step>
          <sbb-title i18n="@@ru_indications_form_history_title" visualLevel="5">Stammdaten
          </sbb-title>
          <div class="entry">
            <p class="sbb-text-xs">Zuletzt bearbeitet von</p>
            <p class="sbb-text-m">{{ dialogData.ruIndication?.lastModifiedBy }}</p>
          </div>
          <div class="entry">
            <p class="sbb-text-xs">Bearbeitet am</p>
            <p class="sbb-text-m">{{ dialogData.ruIndication?.lastModifiedAt | date: 'short' }}</p>
          </div>
        </sbb-step>
      }
    </sbb-stepper>
  </form>
</sbb-dialog-content>
<sbb-dialog-actions alignGroup="stretch" orientation="vertical">
  <sbb-secondary-button i18n="@@dialog_action_cancel" sbb-dialog-close>Abbrechen
  </sbb-secondary-button>
  <sbb-action-group alignGroup="stretch" orientation="vertical">
    @if (isEdit) {
      <sbb-transparent-button i18n="@@dialog_action_delete" iconName="trash-small"
                              sbb-dialog-close="delete">Eintrag löschen
      </sbb-transparent-button>
    }
    @if (!isLastStep()) {
      <sbb-button (click)="next()" [disabled]="isStepDisabled()"
                  i18n="@@dialog_action_next">
        Weiter
      </sbb-button>
    } @else {
      <sbb-button [disabled]="ruIndicationForm.invalid || ruIndicationForm.pristine"
                  [sbb-dialog-close]="formValue"
                  i18n="@@dialog_action_save">Speichern
      </sbb-button>
    }
  </sbb-action-group>
</sbb-dialog-actions>
