<sbb-dialog-title>{{ title }}</sbb-dialog-title>
<sbb-dialog-close-button />
<sbb-dialog-content>
  <form [formGroup]="ruIndicationForm">
    <sbb-stepper linear (stepchange)="stepchange.set($event)">
      <sbb-step-label i18n="@@ru_indications_step_content">Titel und Text</sbb-step-label>
      <sbb-step>
        <sbb-title i18n="@@ru_indications_form_train_numbers_title" visualLevel="5"
          >Titel und Text</sbb-title
        >
        <app-category-content-form
          [dialogData]="dialogData"
          [form]="ruIndicationForm.controls.content"
        />
      </sbb-step>

      <sbb-step-label i18n="@@ru_indications_step_scope">Anwendungsbereich</sbb-step-label>
      <sbb-step formGroupName="scope">
        <sbb-title i18n="@@ru_indications_form_company_title" visualLevel="5">EVU</sbb-title>
        <app-companies-input [control]="ruIndicationForm.controls.scope.controls.companies" />

        <sbb-title i18n="@@ru_indications_form_train_numbers_title" visualLevel="5"
          >Zugnummer</sbb-title
        >
        <app-train-number-input
          [control]="ruIndicationForm.controls.scope.controls.operationalTrainNumberFilters"
        />

        <sbb-title i18n="@@ru_indications_form_location_title" visualLevel="5"
          >Betriebspunkt</sbb-title
        >
        <app-locations-input
          [control]="ruIndicationForm.controls.scope.controls.tafTapLocationReferences"
        />
      </sbb-step>

      <sbb-step-label i18n="@@ru_indications_step_periods">Zeitraum</sbb-step-label>
      <sbb-step>
        <sbb-title i18n="@@ru_indications_form_periods_title" visualLevel="5"
          >Zeitraum der Gültigkeit</sbb-title
        >
        <app-periods-input [control]="ruIndicationForm.controls.periods" />
      </sbb-step>
      @if (isEdit) {
        <sbb-step-label disabled i18n="@@dialog_step_label_audit">Stammdaten</sbb-step-label>
        <sbb-step>
          <app-audit [data]="dialogData.ruIndication" />
        </sbb-step>
      }
    </sbb-stepper>
  </form>
</sbb-dialog-content>
<sbb-dialog-actions
  class="sbb-align-group-stretch sbb-orientation-vertical sbb-orientation-horizontal-from-large"
>
  <sbb-secondary-button i18n="@@dialog_action_cancel" sbb-dialog-close
    >Abbrechen</sbb-secondary-button
  >
  <sbb-action-group
    class="sbb-align-group-stretch sbb-orientation-vertical sbb-orientation-horizontal-from-large"
  >
    @if (isEdit) {
      <sbb-transparent-button
        i18n="@@dialog_action_delete"
        iconName="trash-small"
        sbb-dialog-close="delete"
        >Eintrag löschen</sbb-transparent-button
      >
    }
    @if (!isLastStep()) {
      <sbb-button i18n="@@dialog_action_next" [disabled]="isStepDisabled()" (click)="next()"
        >Weiter</sbb-button
      >
    } @else {
      <sbb-button
        i18n="@@dialog_action_save"
        [disabled]="ruIndicationForm.invalid || ruIndicationForm.pristine"
        [sbb-dialog-close]="formValue"
        >Speichern</sbb-button
      >
    }
  </sbb-action-group>
</sbb-dialog-actions>
