<sbb-tab-group [formGroup]="form()">
  @for (language of languageProvider.allLanguages; track language.localeId) {
    <sbb-tab-label [iconName]="isLanguageEmpty(language.path) ? 'circle-dotted-small' : ''">{{
        language.path | uppercase
      }}
    </sbb-tab-label>
    <sbb-tab [formGroupName]="language.path">
      <sbb-form-field errorSpace="reserve" class="full-width">
        <label i18n="@@ru_indications_form_title_label">Titel</label>
        <input formControlName="title"/>
        @let titleField = form().get(`${language.path}.title`);
        @if (form().touched && (titleField?.hasError('languageRequired') || titleField?.hasError('titleRequired'))) {
          <sbb-error i18n="@@form_field_error_required">Feld darf nicht leer sein
          </sbb-error>
        }
      </sbb-form-field>
      <sbb-form-field errorSpace="reserve" class="full-width">
        <label i18n="@@ru_indications_form_text_label">Text</label>
        <textarea #text formControlName="text"></textarea>
        <sbb-mini-button
          (click)="insertLink(language.path, text)"
          iconName="link-small"
          sbb-tooltip="Link"/>
        @let textField = form().get(`${language.path}.text`);
        @if (form().touched && textField?.hasError('languageRequired')) {
          <sbb-error i18n="@@form_field_error_required">Feld darf nicht leer sein
          </sbb-error>
        }
        @if (form().hasError('oneLanguageRequired') && form().touched) {
          <sbb-error i18n="@@ru_indications_form_one_language_error"
            >Mindestens eine Sprache muss erfasst werden
          </sbb-error>
        }
      </sbb-form-field>
    </sbb-tab>
  }
</sbb-tab-group>
