<sbb-tab-group>
  @for (language of languageProvider.allLanguages; track language.localeId) {
    <sbb-tab-label [iconName]="isLanguageEmpty(language.path) ? 'circle-dotted-small' : ''">{{
      language.path | uppercase
    }}</sbb-tab-label>
    <sbb-tab>
      <sbb-form-field errorSpace="reserve" class="full-width">
        <label for="title" i18n="@@ru_indications_form_title_label">Titel</label>
        @let titleField = form()[language.path].title;
        <input [formField]="titleField" />
        @if (titleField().touched()) {
          @for (error of titleField().errors(); track error.kind) {
            <sbb-error>{{ error.message }}</sbb-error>
          }
        }
      </sbb-form-field>
      <sbb-form-field errorSpace="reserve" class="full-width">
        <label for="text" i18n="@@ru_indications_form_text_label">Text</label>
        @let textField = form()[language.path].text;
        <textarea #text [formField]="textField"></textarea>
        <sbb-mini-button
          iconName="link-small"
          sbb-tooltip="Link"
          (click)="insertLink(language.path, text)"
        />
        @if (textField().touched()) {
          @for (error of textField().errors(); track error.kind) {
            <sbb-error>{{ error.message }}</sbb-error>
          }
        }
        @if (form()().touched()) {
          @for (error of form()().errors(); track error.kind) {
            <sbb-error>{{ error.message }}</sbb-error>
          }
        }
      </sbb-form-field>
    </sbb-tab>
  }
</sbb-tab-group>
