<sbb-form-field errorSpace="reserve" class="full-width">
  <label i18n="@@company_form_tenant_id_label">Tenant Id</label>
  <input [formControl]="control()" [sbbAutocomplete]="auto" />

  <sbb-autocomplete #auto="sbbAutocomplete">
    @for (tenant of filteredTenants(); track tenant.tenantId) {
      <sbb-option [value]="tenant.tenantId">{{ `${tenant.tenantId} - ${tenant.name}` }}</sbb-option>
    }
  </sbb-autocomplete>
  @if (control().touched && control().hasError('required')) {
    <sbb-error i18n="@@company_form_field_error_required">Feld darf nicht leer sein</sbb-error>
  }
  @if (control().touched && control().hasError('tenant')) {
    <sbb-error i18n="@@company_form_field_error_tenant">Feld muss eine Tenant Id beinhalten</sbb-error>
  }
</sbb-form-field>
