sbb-icon-sidebar-container {
  margin-block-start: var(--sbb-header-height);
}

sbb-icon-sidebar-content {
  padding-inline: var(--sbb-spacing-responsive-s);
  padding-block-end: var(--sbb-spacing-responsive-s);
  scroll-behavior: smooth;
}
