sbb-form-field {
  width: 100%;
}

form {
  display: grid;
  gap: var(--sbb-spacing-responsive-xxxs);
  justify-items: start;
  margin-bottom: var(--sbb-spacing-responsive-xs);

  sbb-error {
    margin-top: calc(-1 * var(--sbb-spacing-responsive-xxxs));
  }
}
