sbb-form-field {
  width: 100%;
  margin-bottom: var(--sbb-spacing-responsive-xxxs);
}

.train-filter-mode {
  margin-bottom: var(--sbb-spacing-responsive-xxxs);
}

.parity {
  margin-bottom: var(--sbb-spacing-responsive-xxxs);
}

sbb-chip-group {
  margin-bottom: var(--sbb-spacing-responsive-xxxs);
}

form {
  margin-bottom: var(--sbb-spacing-responsive-xs);
}
