<form>
  <div class="date-inputs">
    <sbb-form-field>
      <label for="validFrom" i18n="@@ru_indications_form_period_valid_from">Von</label>
      <sbb-datepicker-previous-day />
      <sbb-date-input [formField]="periodForm.validFrom" />
      <sbb-datepicker-toggle />
      <sbb-datepicker-next-day />
      <sbb-datepicker />
    </sbb-form-field>
    <sbb-form-field>
      <label for="validTo" i18n="@@ru_indications_form_period_valid_to">Bis</label>
      <sbb-datepicker-previous-day />
      <sbb-date-input [formField]="periodForm.validTo" />
      <sbb-datepicker-toggle />
      <sbb-datepicker-next-day />
      <sbb-datepicker />
    </sbb-form-field>
  </div>

  <sbb-toggle-check
    i18n="@@ru_indications_form_period_range_toggle"
    [formField]="periodForm.isRange"
    >Zeitspanne</sbb-toggle-check
  >

  <sbb-checkbox-group [disabled]="periodForm.weekdays().disabled()">
    @for (weekday of weekdays; track weekday.value) {
      <sbb-checkbox
        [checked]="isWeekdaySelected(weekday.value)"
        (change)="onWeekdayChange(weekday.value, $event)"
        >{{ weekday.label }}</sbb-checkbox
      >
    }
  </sbb-checkbox-group>

  <sbb-chip-group [displayWith]="displayPeriod" [formField]="field()" />

  <sbb-secondary-button
    i18n="@@ru_indications_form_period_add"
    iconName="plus-small"
    [disabled]="
      periodForm()
        .errorSummary()
        .some((e) => e.kind !== 'draftInvalid')
    "
    (click)="addPeriod()"
    >Auswahl hinzufügen</sbb-secondary-button
  >
  @if (periodForm().touched()) {
    @for (error of periodForm().errors(); track error.kind) {
      <sbb-error>{{ error.message }}</sbb-error>
    }
  }
  @if (periodForm.validFrom().touched()) {
    @for (error of periodForm.validFrom().errors(); track error.kind) {
      <sbb-error>{{ error.message }}</sbb-error>
    }
  }
</form>
