<sbb-table-wrapper>
	<table
		class="table-truncated"
		fixedLayout
		sbb-table
		sbbSort
		sbbSortActive="date"
		sbbSortDirection="asc"
		[dataSource]="dataSource"
	>
		<ng-container sbbColumnDef="select">
			<th *sbbHeaderCellDef class="select-col" sbb-header-cell>
				<sbb-checkbox
					[checked]="selection.hasValue() && isAllSelected()"
					[indeterminate]="selection.hasValue() && !isAllSelected()"
					(change)="$event ? parentToggle() : null"
				/>
			</th>
			<td *sbbCellDef="let row" class="select-col" sbb-cell>
				<sbb-checkbox
					[checked]="selection.isSelected(row)"
					(change)="$event ? selection.toggle(row) : null"
					(click)="$event.stopPropagation()"
				/>
			</td>
		</ng-container>

		<ng-container sbbColumnDef="name">
			<th
				*sbbHeaderCellDef
				i18n="@@special_holidays_table_column_name"
				sbb-header-cell
				sbb-sort-header="name"
				>Name des Feiertags</th
			>
			<td *sbbCellDef="let row" sbb-cell>
				<span>{{ row.name }}</span>
			</td>
		</ng-container>

		<ng-container sbbColumnDef="date">
			<th
				*sbbHeaderCellDef
				i18n="@@special_holidays_table_column_date"
				sbb-header-cell
				sbb-sort-header="date"
				>Gültig am</th
			>
			<td *sbbCellDef="let row" class="cell-nowrap" sbb-cell>{{ row.date | date: 'shortDate' }}</td>
		</ng-container>

		<ng-container sbbColumnDef="scheduleType">
			<th
				*sbbHeaderCellDef
				i18n="@@special_holidays_table_column_schedule_type"
				sbb-header-cell
				sbb-sort-header="scheduleType"
				>Gilt als</th
			>
			<td *sbbCellDef="let row" class="cell-nowrap" sbb-cell>{{
				scheduleTypeLabel(row.scheduleType)
			}}</td>
		</ng-container>

		<ng-container sbbColumnDef="companies">
			<th
				*sbbHeaderCellDef
				i18n="@@special_holidays_table_column_companies"
				sbb-header-cell
				sbb-sort-header="companies"
				>Gültig für</th
			>
			<td *sbbCellDef="let row" sbb-cell>
				<span>{{ companiesValue(row.companies) }}</span>
			</td>
		</ng-container>

		<ng-container sbbColumnDef="lastModifiedAt">
			<th
				*sbbHeaderCellDef
				i18n="@@special_holidays_table_column_last_modified_at"
				sbb-header-cell
				sbb-sort-header="lastModifiedAt"
				>Bearbeitet am</th
			>
			<td *sbbCellDef="let row" class="cell-nowrap" sbb-cell>{{
				row.lastModifiedAt | date: 'short'
			}}</td>
		</ng-container>

		<ng-container sbbColumnDef="lastModifiedBy">
			<th
				*sbbHeaderCellDef
				i18n="@@special_holidays_table_column_last_modified_by"
				sbb-header-cell
				sbb-sort-header="lastModifiedBy"
				>Bearbeitet von</th
			>
			<td *sbbCellDef="let row" class="cell-nowrap" sbb-cell>{{ row.lastModifiedBy }}</td>
		</ng-container>

		<ng-container sbbColumnDef="action">
			<th *sbbHeaderCellDef class="action-col" sbb-header-cell></th>
			<td *sbbCellDef="let holiday" class="action-col" sbb-cell>
				<sbb-mini-button iconName="pen-small" (click)="edit(holiday)" />
			</td>
		</ng-container>

		<tr *sbbHeaderRowDef="columns" sbb-header-row></tr>
		<tr *sbbRowDef="let row; columns: columns" sbb-row></tr>
	</table>
</sbb-table-wrapper>

<div class="bottom">
	<div class="left">
		<sbb-compact-paginator [pageSize]="PAGE_SIZE" />
	</div>
	<div class="right">
		<sbb-secondary-button i18n="@@button_create_entry" iconName="plus-small" (click)="add()"
			>Neuen Eintrag erfassen</sbb-secondary-button
		>
		<sbb-transparent-button
			i18n="@@button_delete_selected_entries"
			iconName="trash-small"
			[disabled]="selection.isEmpty()"
			[loading]="isDeleting"
			(click)="deleteSelected()"
			>{selection.selected.length, plural,
				=0 {Einträge löschen}
				one {Eintrag löschen}
				other {{{ selection.selected.length }} Einträge löschen}
			}</sbb-transparent-button
		>
	</div>
</div>
