<app-base-dialog
  i18n-stepLabel="@@ru_indication_templates_dialog_step_label"
  stepLabel="Titel und Text"
  [data]="dialogData"
  [dialogClose]="formValue"
  [dialogTitle]="dialogTitle"
  [saveDisabled]="ruIndicationTemplateForm().invalid()"
>
  <form>
    <div class="category">
      <sbb-title i18n="@@ru_indication_templates_form_category_title" visualLevel="5"
        >Kategorie erstellen</sbb-title
      >
      <sbb-form-field errorSpace="reserve" class="full-width">
        <label for="category" i18n="@@ru_indication_templates_form_category_label"
          >Name der Kategorie eingeben</label
        >
        <input [formField]="ruIndicationTemplateForm.category" />
        @if (ruIndicationTemplateForm.category().touched()) {
          @for (error of ruIndicationTemplateForm.category().errors(); track error.kind) {
            <sbb-error>{{ error.message }}</sbb-error>
          }
        }
      </sbb-form-field>
    </div>
    <app-ru-indication-content-form [form]="ruIndicationTemplateForm.content" />
  </form>
</app-base-dialog>
